<nav class="navbar navbar-dark navbar-expand-md sticky-top shadow-sm" id="app-navbar">

    <div class="container-fluid"><a class="navbar-brand" routerLink="/home"><img id="brand-logo" src="assets/img/licone1.png"><img id="titre_logo" src="assets/img/title_logo2.png"></a>
  
  <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
  
        <div class="collapse navbar-collapse" id="navcol-1">
  
            <ul class="navbar-nav ms-auto ml-auto">
  
                <li class="nav-item"><a class="nav-link active" routerLink="/home">Accueil</a></li>

                <li class="nav-item dropdown"><a routerLink="/cv-tech" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cv Tech</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/cv-tech/cv">Ajout son cv</a>
                        <a class="dropdown-item" routerLink="/cv-tech/cvs">Liste des cv</a>
                    </div>
                </li>
  
                <li class="nav-item"><a class="nav-link" routerLink="/a-propos">A propos</a></li>
  
                <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Coaching Emploi & Carrière </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/entreprise">Préparer sa candidature</a>
                        <a class="dropdown-item" routerLink="/particulier">Faire le point sur ses compétences</a>
                    </div>
                </li>
  
                <li class="nav-item"><a class="nav-link" routerLink="/academy">Nos Accompagnements</a></li>
  
                <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
  
            </ul>
  
        </div>
  
    </div>
  
  </nav>