<section id=content-section-7>
    <div class="gdlr-parallax-wrapper gdlr-background-image gdlr-show-all gdlr-skin-dark-skin" id=gdlr-parallax-wrapper-2 data-bgspeed=0.2 style="background-image: url('assets/img/location-bckg.jpg'); padding-top: 100px; padding-bottom: 70px; ">
        <div class=container>
            <div class=gdlr-title-item style="margin-bottom: 40px;">
                <div class="gdlr-item-title-wrapper gdlr-item pos-center ">
                    <div class=gdlr-item-title-head>
                        <h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border gdlr-title-large">Contactez-nous !</h3>
                        <div class=clear></div>
                    </div>
                </div>
            </div>
            <div class=clear></div>
            <div class="gdlr-item gdlr-content-item">

                <div class=gdlr-location-item>
                    <div class=gdlr-location-place>Vous souhaitez plus d’informations ? demander un devis ? externaliser ou faire l’audit de votre processus RH ?
N’hésitez pas à prendre contact avec nous. Nous nous ferons le plaisir de vous répondre et de vous apporter davantage de précision dans les meilleurs délais.
</div>
                    <div class=gdlr-location-info>
                    <span><i class="fa fa-envelope" ></i>contact@wonder-consultingrh.com</span></div>
                </div>

            </div>
            <div class=clear></div>
            <div class=clear></div>
        </div>
    </div>
    <div class=clear></div>
</section>
<footer class='footer-wrapper'>

    <div class=copyright-wrapper>

        <div class='copyright-container container'>

            <div class=copyright-left> © Copyright Wonder Consulting RH, All Right Reserved</div>

            <div class=copyright-right> Suivez-nous : <a href='#'><i class='icon ion-social-linkedin'></i></a><a href='#'><i class='icon ion-social-facebook'></i></a><a href='#'><i class='icon ion-social-twitter'></i></a><a href='#'><i class='icon ion-social-instagram'></i></a> |<a href=index.php?Module=AboutUs&Action=AboutUs>A propos</a> | <a href=index.php?Module=Entreprise&Action=Entreprise>Préparer sa candidature</a> | <a href=index.php?Module=Particulier&Action=Particulier>Faire le point sur ses compétences</a> |<a href=index.php?Module=Academy&Action=Academy>Nos Accompagnements</a> | <a href=index.php?Module=Contact&Action=Contact>Contactez-nous</a></div>

            <div class=clear></div>

        </div>

    </div>

</footer>

<a class='cd-top js-cd-top cd-top--fade-out cd-top--show' style='background-image:url(&quot;assets/img/cd-top-arrow.svg&quot;);' href='#0'>Top</a>
