<footer>
    <div>
        <div>
            <div> © Copyright Wonder Consulting RH, All Right Reserved</div>
            <div> 
                Suivez-nous : 
                <a href='#'><i class='icon ion-social-linkedin'></i></a>
                <a href='#'><i class='icon ion-social-facebook'></i></a>
                <a href='#'><i class='icon ion-social-twitter'></i></a>
                <a href='#'><i class='icon ion-social-instagram'></i></a> |
                <a href=index.php?Module=AboutUs&Action=AboutUs>A propos</a> | 
                <a href=index.php?Module=Entreprise&Action=Entreprise>Préparer sa candidature</a> | 
                <a href=index.php?Module=Particulier&Action=Particulier>Faire le point sur ses compétences</a> |
                <a href=index.php?Module=Academy&Action=Academy>Nos Accompagnements</a> | 
                <a href=index.php?Module=Contact&Action=Contact>Contactez-nous</a>
            </div>
        </div>
    </div>
    <a style='background-image:url(&quot;assets/img/cd-top-arrow.svg&quot;);' href='#0'>Top</a>
</footer>