<div class="box">
    <div class="box-first-row">
        <div class="box-title-group">
            <span><i style="color: orange;" class="fa fa-wrench" aria-hidden="true"></i></span>
            <p class="titre">Expériences professionnelles</p>
        </div>
        <span>AJOUTER UNE EXPERIENCE PROFESSIONNELLE</span>
        <button>TRIER DE LA PLUS RECENTE A LA PLUS ANCIENNE</button>
    </div>
    <div class="pro-details-container">
        <div class="pro-detail-row">
            <div class="pro-client-field-group">
                <label>Client / Entreprise</label>
                <input type="text" value="GMF / Groupe Covéa" />
            </div>
            <div class="pro-description-field-group">
                <label>Description</label>
                <input type="text" value="Développeur FullStack Java / Angular" />
            </div>
            <div class="pro-vile-field-group">
                <label>Ville (Pays)</label>
                <input type="text" value="Levallois Perret" />
            </div>
            <button><i class="fa fa-pencil-square-o" aria-hidden="true"></i> EDITER</button>
            <span>SUPPRIMER</span>
        </div>
        <div class="pro-detail-row">
            <div class="pro-client-field-group">
                <label>Client / Entreprise</label>
                <input type="text" value="Banque de France" />
            </div>
            <div class="pro-description-field-group">
                <label>Description</label>
                <input type="text" value="Développeur FullStack Java / AngularJS & Angular" />
            </div>
            <div class="pro-vile-field-group">
                <label>Ville (Pays)</label>
                <input type="text" value="Paris" />
            </div>
            <button><i class="fa fa-pencil-square-o" aria-hidden="true"></i> EDITER</button>
            <span>SUPPRIMER</span>
        </div>
    </div>
</div>