<div class="box">
    <div class="box-first-row">
        <div class="box-title-group">
            <span><i style="color: orange;" class="fa fa-wrench" aria-hidden="true"></i></span>
            <p class="titre">Expériences professionnelles</p>
        </div>
        <span>AJOUTER UNE EXPERIENCE PROFESSIONNELLE</span>
        <button>TRIER DE LA PLUS RECENTE A LA PLUS ANCIENNE</button>
    </div>
    <div class="pro-details-container">
        <div class="pro-detail-row" *ngFor="let experience of experiences" >
            <div class="pro-client-field-group">
                <label>Client / Entreprise</label>
                <input type="text" value="{{ experience.client }}" />
            </div>
            <div class="pro-description-field-group">
                <label>Description</label>
                <input type="text" value="{{ experience.description }}" />
            </div>
            <div class="pro-vile-field-group">
                <label>Ville (Pays)</label>
                <input type="text" value="" />
            </div>
            <button (click)="edit(experience.id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> EDITER</button>
            <span>SUPPRIMER</span>
        </div>
        <div class="pro-detail-edit" *ngIf="showEditZone">
            <div class="edit-btn-container">
                <button (click)="save()">Valider</button>
            </div>
            <div class="edit-title-row">
                <div class="pro-detail-edit-title">Edition de l'expérience chez {{ selectedExperience.client }}</div>
            </div>
            <div class="edit-info-block">
                <div class="edit-info-title">Information générales du projet</div>
                <div class="edit-info-row">
                    <div class="titre-projet-block">
                        <label>Titre du projet</label>
                        <input type="text"/>
                    </div>
                    <div class="poste-block">
                        <label>Poste occupé</label>
                        <input type="text" />
                    </div>
                    <div class="debut-block">
                        <label>Début</label>
                        <input type="text" />
                    </div>
                    <div class="fin-block">
                        <label>Fin</label>
                        <input type="text" />
                    </div>
                </div>
                <div class="edit-description-row">
                    <label>Description du projet</label>
                    <input type="text" value="{{ selectedExperience.description }}" />
                </div>
            </div>
            <div class="edit-taches-block">
                <div class="taches-block-title">Tâches affectées</div>
                <div class="text-edit-container">
                    <textarea></textarea>
                </div>
            </div>
            <div class="edit-env-tech-row">
                <label>Environnement technique</label>
                <input type="text" />
            </div>
        </div>
    </div>
</div>