<div class="gdlr-page-title-wrapper gdlr-page-title-wrapper1 gdlr-parallax-wrapper gdlr-title-large-center" data-bgspeed=0.5>

    <div class=gdlr-page-title-overlay></div>

    <div class="gdlr-page-title-container container">

        <h1 class="gdlr-page-title">A propos de</h1> <span class=gdlr-page-caption>Wonder Consulting RH</span>

    </div>

</div>

<div class=content-wrapper>

    <div class=gdlr-content>

        <div class="with-sidebar-wrapper gdlr-type-no-sidebar">

            <section id=content-section-2>

                <div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #f4f4f4; padding-top: 115px; padding-bottom: 65px; ">

                    <div class=container>

                        <div class="two-fifth columns">

                            <div class="gdlr-item gdlr-content-item" style="margin-bottom: 10px;"></div>

                            <div class="gdlr-image-frame-item gdlr-item">

                                <div class="gdlr-frame frame-type-none">

                                    <div class=gdlr-image-link-shortcode><img src="./assets/img/Business_advice3.png" alt width=263 height=550></div>

                                </div>

                            </div>

                        </div>

                        <div class="three-fifth columns">

                            <div class="gdlr-item gdlr-icon-with-list-item">

                                <div class="list-with-icon-ux gdlr-ux">

                                    <div class="list-with-icon gdlr-left">

                                        <div class=list-with-icon-caption>

                                            <p>Wonder Consulting RH est une équipe de professionnels en Ressources Humaines et nous mettons en avant toute notre expertise afin de répondre de façon optimale aux attentes de nos clients.

                                                <br> Nous nous imprégnons de votre problématique afin de vous apporter la meilleure solution adaptée à votre besoin.

                                                <br><br> Nous proposons :

                                            </p>

                                            <ul class="">

                                                <li>

                                                    <p> <span> De l’accompagnement sur les techniques de recherche d’emploi et de l’évolution professionnelle.</span></p>

                                                </li>

                                                <li>

                                                    <p>Des formations pour renforcer vos compétences et assurer votre employabilité dans le domaine des Ressources Humaines.</p>

                                                </li>

                                                <li>

                                                    <p>Du conseil RH afin d’optimiser votre performance stratégique en Ressources Humaines et avoir des procédures RH qui répondent aux normes juridiques de ce domaine.</p>

                                                </li>

                                            </ul>

                                            <p>Plus qu’une prestation, nous privilégions réellement un partenariat solide et à long terme avec nos clients !</p>

                                            <p>Notre objectif : Votre Satisfaction.</p>

                                            <blockquote class="text-center" style="font-size: 14px; color :#6F93CC"><b>Nos valeurs :  Ecoute – Proximité – Dynamisme – Expertise et Résultats.</b> </blockquote>

                                            <div style="background-color: #6F93CC;">

                                            <h3 class="text-center">Notre objectif : Votre Satisfaction.</h3>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=clear></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=clear></div>
            </section>
        </div>
    </div>
    <div class=clear></div>
</div>