<p class="titre-dossier">Dossier de compétences de Jean DIABATE</p>
<br>
<br>
<div class="btn-container">
    <button>SAUVEGARDER</button>
    <button>TELECHARGER PDF</button>
    <button>Visualiser le rendu</button>
</div>

<div class="box">
    <span>(i)</span>
    <p class="titre">Informations générales</p>
    Titre du dossier de compétences
    <input type="text" value="Dossier Compétence Avril 2022" />
    Poste occupé
    <input type="text" value="Développeur FullStack Java / Angular & ReactJS" />
    <br>
    Nombre d'années d'expérience
    <input type="text" value="9" />
    Disponibilité
    <input type="text" value="24/04/2022" />
</div>
<div class="box">
    () 
    <p class="titre">Introduction</p>
    <textarea>
        Passionné de technologies,  je suis Développeur FullStack avec 9 ans d'expérience.
        Je suis persévérant et n'hésite pas à m'investir dans les missions. 
        Présentement à la recherche d'une nouvelle mission sur les technologies Angular, ReactJS et Java.
        Je serai immédiatement disponible à partir du 25/04/2022.
    </textarea>
</div>
<div class="box">
    <p class="titre">
        Expériences significatives
    </p>
    <button>AJOUTER UNE EXPERIENCE SIGNIFICATIVE</button>
</div>
<div class="box">
    <p class="titre">
       Compétences techniques
    </p>
    <button>AJOUTER DES COMPETENCES TECHNIQUES</button>
</div>
<div class="box">
    <p class="titre">
       Compétences fonctionnelles
    </p>
    <button>AJOUTER UNE COMPETENCE FONCTIONNELLE</button>
</div>
<div class="box">
    <p class="titre">
       Expériences professionnelles
    </p>
    <button>AJOUTER UNE EXPERIENCE PROFESSIONNELLE</button>
    <button>TRIER DE LA PLUS RECENTE A LA PLUS ANCIENNE</button>
</div>
<div class="box">
    <p class="titre">
       Formations
    </p>
    Diplômes obtenus
    <button>AJOUTER UN DIPLOME</button>
    Formation complémentaires / Certificatins 
    <button>AJOUTER UNE FORMATION COMPLEMENTAIRE</button>
</div>
<div class="box">
    <p class="titre">
       Langues
    </p>
    <button>AJOUTER UNE LANGUE</button>
</div>