
<div class=content-wrapper>
    <div class=gdlr-content>
        <div class="with-sidebar-wrapper gdlr-type-no-sidebar">


            <section id=content-section-2>
                <div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #f4f4f4; padding-top: 115px; padding-bottom: 65px; ">
                    <div class=container>
                        <div class="two-fifth columns">
                            <div class="gdlr-item gdlr-content-item" style="margin-bottom: 10px;"></div>
                            <div class="gdlr-image-frame-item gdlr-item">
                                <div class="gdlr-frame frame-type-none">
                                    <div class=gdlr-image-link-shortcode><img src="./assets/img/Business_advice1.png" alt width=263 height=550></div>
                                </div>
                            </div>
                        </div>
                        <div class="three-fifth columns">
                            <div class="gdlr-item gdlr-icon-with-list-item">
                                <div class="list-with-icon-ux gdlr-ux">
                                    <div class="list-with-icon gdlr-left">
                                        <div class="list-with-icon-title gdlr-skin-title" style="color: grey;font-size: 24px; text-align: center;">Bienvenu dans la CV TECH<i class="fa fa-person" style="color: #1485ee;"></i></div>
                                        <div class=list-with-icon-caption>
                                            
                                            <p>Nous vous accompagnons dès la réflexion de votre projet jusqu’à sa mise en œuvre opérationnelle, afin de ga-rantir l’atteinte de vos objectifs. </p>
                                            <p>Nous prenons en compte chaque réalité afin de vous préconiser les meilleures solutions possibles vous permet-tant d’avoir des processus RH performants. </p>
                                            <p>Nous proposons également des formations qui vous permettront d’acquérir et de développer des compétences enrichissantes RH qui sont des véritables accélérateurs de prise de fonction. Vous connaîtrez tous les outils, techniques et stratégies nécessaires pour réussir dans le domaine des Ressources Humaines. </p>
                                            <p>Notre flexibilité nous permet de vous proposer des prestations sur mesure et adaptées à vos besoins.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class=clear></div>
                            </div>
                        </div>
                        <div class=clear></div>
                    </div>
                </div>
                <div class=clear></div>
            </section>

        </div>
    </div>
    <div class=clear></div>
</div>