<div class="box">
    <div class="box-first-row">
        <div class="box-title-group">
            <span><i style="color: blueviolet;" class="fa fa-cogs" aria-hidden="true"></i></span>
            <p class="titre">Expériences significatives</p>
        </div>
        <span>AJOUTER UNE EXPERIENCE SIGNIFICATIVE</span>
    </div>
    <div class="exp-details-container">
        <div class="exp-detail-row" *ngFor="let experience of experiences">
            <div class="client-field-group">
                <label>Client / Entreprise</label>
                <input type="text" value="{{ experience.client }}" />
            </div>
            <div class="description-field-group">
                <label>Description</label>
                <input type="text" value="{{ experience.description }}" />
            </div>
            <span>SUPPRIMER</span>
        </div>
    </div>
</div>