<app-header></app-header>

<div class="header">

<!--Content before waves-->
<div class="inner-header flex" style="background-image: url(assets/img/bg-featured-imagee.jpg); background-size: cover; ">
<!--Just the logo.. Don't mind this-->

<!-- <path fill="#FFFFFF" stroke="#000000" stroke-width="10" stroke-miterlimit="10" d="M57,283" /> -->
<!-- <g><path fill="#fff"
d="M250.4,0.8C112.7,0.8,1,112.4,1,250.2c0,137.7,111.7,249.4,249.4,249.4c137.7,0,249.4-111.7,249.4-249.4
C499.8,112.4,388.1,0.8,250.4,0.8z M383.8,326.3c-62,0-101.4-14.1-117.6-46.3c-17.1-34.1-2.3-75.4,13.2-104.1
c-22.4,3-38.4,9.2-47.8,18.3c-11.2,10.9-13.6,26.7-16.3,45c-3.1,20.8-6.6,44.4-25.3,62.4c-19.8,19.1-51.6,26.9-100.2,24.6l1.8-39.7		c35.9,1.6,59.7-2.9,70.8-13.6c8.9-8.6,11.1-22.9,13.5-39.6c6.3-42,14.8-99.4,141.4-99.4h41L333,166c-12.6,16-45.4,68.2-31.2,96.2	c9.2,18.3,41.5,25.6,91.2,24.2l1.1,39.8C390.5,326.2,387.1,326.3,383.8,326.3z" />
</g> 
</svg> -->
<div class="welcomWonder"><h1 style="color: white;">Bienvenu(e) chez</h1></div>
<div class="welcomWonder"> 
    <h1 style="color: white;">&nbsp;Wonder Consulting RH</h1>
  </div>
  <div class="intro">
<div class="column-service-title">
<p style="color: white; font-size: medium;" Class="text-center">Wonder Consulting RH est un cabinet de conseil et formation spécialisé dans les Ressources Humaines.<br>
Nous accompagnons nos clients dans tous les différents sujets professionnels en lien avec les Ressources Humaines, <br>les techniques de recherche d’emploi et l’évolution professionnelle.
</p>
</div>
</div>
<a href="index.php?Module=Contact&Action=Contact"><button class="btn btn-primary text-center" style="background-color:rgb(39, 182, 248); border-color: rgb(0, 174, 255);" type="button">Nous contacter</button></a>
</div>

<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
<!--Waves end-->

</div>
<!--Header ends-->

<section id=content-section-2>
    <div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-top: 65px; padding-bottom: 35px; ">
        <div class=container>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-icon gdlr-skin-box"><i class="fa fa-user"></i></div>
                        <div class=column-service-content-wrapper>
                            <h3 class="column-service-title">Qui sommes nous?</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>Wonder Consulting RH est un cabinet de conseil spécialisé dans le Recrutement et dans l’Accompagnement professionnel.</p> <!--<a class="column-service-learn-more gdlr-info-font" href=#>Lire plus</a>--></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-icon gdlr-skin-box"><i class="fa fa-brush"></i></div>
                        <div class=column-service-content-wrapper>
                            <h3 class="column-service-title">Que faisons nous ?</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>Nous accompagnons nos clients dans les différentes problématiques liées au Recrutement et au développement des compétences.</p> <!--<a class="column-service-learn-more gdlr-info-font" href=#>Learn More</a>--></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="gdlr-ux column-service-ux">
                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">
                        <div class="column-service-icon gdlr-skin-box"><i class="fa fa-question"></i></div>
                        <div class=column-service-content-wrapper>
                            <h3 class="column-service-title">Pourquoi travailler avec nous?</h3>
                            <div class="column-service-content gdlr-skin-content">
                                <p>Nous incarnons les valeurs ci-après : </p>
                            
                             <a class="column-service-learn-more gdlr-info-font" href=#>Learn More</a>-->
                            <ul style="margin-top: -20px;">
                                <li>Professionnalisme</li>
                                <li>Confiance</li>
                                <li>Disponibilité</li>
                                <li>Transparence</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=clear></div>
        </div>
    </div>
    <div class=clear></div>
</section>

    <section class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">NOS SERVICES</h2>
                <p class="text-center">Vous êtes une personne physique ou morale nos services sont adaptés à vos besoins.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="shadow box"><i class="far fa-check-circle icon" data-aos="zoom-in" data-aos-duration="750"></i>
                        <h3 class="name">Préparer sa candidature</h3>
                        <p class="description">Notre objectif est de vous permettre d’avoir une stratégie efficace en ce qui concerne l’organisation de votre candidature, travailler et développer votre aisance orale en entretien....</p><a class="learn-more" href="index.php?Module=Entreprise&Action=Entreprise">Decouvrir</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="shadow box"><i class="fas fa-graduation-cap icon" data-aos="zoom-in" data-aos-duration="750" data-aos-delay="500"></i>
                        <h3 class="name">Faire le point sur ses compétences</h3>
                        <p class="description">Nous vous proposons une démarche d’accompagnement qui vous permettra de savoir où vous en êtes professionnellement et de vous positionner sur le marché de l’emploi,</p><a class="learn-more" href="index.php?Module=Particulier&Action=Particulier">Decouvrir</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="shadow box"><i class="fas fa-user icon" data-aos="fade" data-aos-duration="750" data-aos-delay="900"></i>
                        <h3 class="name">Nos Accompagnements</h3>
                        <p class="description"> Nous proposons également des formations qui vous permettront d’acquérir et de développer des compétences enrichissantes RH qui sont des véritables accélérateurs ...<br></p><a class="learn-more" href="index.php?Module=Academy&Action=Academy">Decouvrir</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <app-footer></app-footer>