<div class="box">
    <div class="box-first-row">
        <div class="box-title-group">
            <span><i style="color: green;" class="fa fa-graduation-cap" aria-hidden="true"></i></span>
            <p class="titre">Formations</p>
        </div>
    </div>
    <div class="box-second-row">
        <span>Diplômes obtenus</span>
        <button>AJOUTER UN DIPLOME</button>
    </div>
    <div class="diplomes-container">
        <div class="diplome-row" *ngFor="let formation of formations">
            <div class="diplome-organisme-field-group">
                <label>Organisme</label>
                <input type="text" value="{{ formation.organisme }}" />
            </div>
            <div class="diplome-annee-field-group">
                <label>Année d'obtention</label>
                <input type="text" value="{{ formation.annee }}" />
            </div>
            <div class="diplome-description-field-group">
                <label>Description</label>
                <input type="text" value="{{ formation.description }}" />
            </div>
            <span>SUPPRIMER</span>
        </div>
    </div>
    <div class="box-second-row">
        <span>Formation complémentaires / Certifications</span>
        <button>AJOUTER UNE FORMATION</button>
    </div>
</div>