.diplomes-container {
    display: flex;
    flex-direction: column;
}

.diplome-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
}

.diplome-row span {
    color: red;
    font-size: 12px;
    font-weight: bold;
    padding-top: 35px;

}

.diplome-organisme-field-group {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.diplome-organisme-field-group label {
    color: gray;
}

.diplome-annee-field-group {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.diplome-annee-field-group label{
    color: gray;
}

.diplome-annee-field-group input{
    width: 150px;
}

.diplome-description-field-group {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.diplome-description-field-group label {
    color: gray;
}

.diplome-description-field-group input {
    width: 300px;
}