<div class="gdlr-page-title-wrapper gdlr-parallax-wrapper gdlr-title-normal" data-bgspeed=0.5>

    <div class=gdlr-page-title-overlay></div>

    <div class="gdlr-page-title-container container">

        <h1 class="gdlr-page-title">Faire le point sur ses compétences


        </h1> <span class=gdlr-page-caption>A un moment donné de notre vie, il est important de faire le point sur ses compétences, cela permet de sécuriser son parcours professionnel et d’avoir une projection claire sur l’avenir. <br><br> Cette offre est pour vous si : </span>

    </div>

</div>

<div class=content-wrapper>

    <div class=gdlr-content>
        <div class="with-sidebar-wrapper gdlr-type-no-sidebar">

            <section id=content-section-1>

                <div class="section-container container">

                    <div class=session-item-wrapper style="margin-bottom: 75px;">

                        <div class="gdlr-session-item gdlr-small-session-item gdlr-item">

                            <div class=gdlr-session-item-head>



                                <div class="gdlr-session-item-tab-content gdlr-tab-1 gdlr-active">

                                    <div class=gdlr-session-item-content-wrapper>

                                        <div class=gdlr-session-item-divider></div>

                                        <div class=gdlr-session-item-content>



                                            <div class=gdlr-session-item-content-inner>





                                                <section id=content-section-2>

                                                    <div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-top: 65px; padding-bottom: 35px; ">

                                                        <div class=container>

                                                            <div class="four columns">

                                                                <div class="gdlr-ux column-service-ux">

                                                                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">

                                                                        <div class="column-service-icon gdlr-skin-box">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" style="color:dodgerblue;" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">

                                                                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />

                                                                            </svg>

                                                                        </div>

                                                                        <div class=column-service-content-wrapper>

                                                                            <h3 class="column-services" style="color: #333333;">Vous souhaitez évaluer vos compétences pour mieux les promouvoir,</h3>

                                                                            <div class="column-service-content gdlr-skin-content">

                                                                                

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="four columns">

                                                                <div class="gdlr-ux column-service-ux">

                                                                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">

                                                                        <div class="column-service-icon gdlr-skin-box">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" style="color:dodgerblue;" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">

                                                                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />

                                                                            </svg>

                                                                        </div>

                                                                        <div class=column-service-content-wrapper>

                                                                            <h3 class="column-services" style="color: #333333;">Vous souhaitez repérer vos compétences transférables,</h3>

                                                                            <div class="column-service-content gdlr-skin-content">

                                                                                

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>

                                                            <div class="four columns">

                                                                <div class="gdlr-ux column-service-ux">

                                                                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">

                                                                        <div class="column-service-icon gdlr-skin-box">



                                                                            <svg xmlns="http://www.w3.org/2000/svg" style="color:dodgerblue;" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">

                                                                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />

                                                                            </svg>

                                                                        </div>

                                                                        <div class=column-service-content-wrapper>

                                                                            <h3 class="column-services" style="color: #333333;">Vous souhaitez changer de secteur d’activité et évoluer professionnellement,</h3>

                                                                            <div class="column-service-content gdlr-skin-content">

                                                                               

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>



                                                            <div class="four columns">

                                                                <div class="gdlr-ux column-service-ux">

                                                                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">

                                                                        <div class="column-service-icon gdlr-skin-box">

                                                                            

                                                                            <svg xmlns="http://www.w3.org/2000/svg" style="color:dodgerblue;" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">

                                                                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />

                                                                            </svg>

                                                                        </div>

                                                                        <div class=column-service-content-wrapper>

                                                                            <h3 class="column-services" style="color: #333333;">Vous avez terminé vos études et vous êtes à la recherche d’un premier emploi,</h3>

                                                                            <div class="column-service-content gdlr-skin-content">

                                                                                

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>



                                                            <div class="four columns">

                                                                <div class="gdlr-ux column-service-ux">

                                                                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">

                                                                        <div class="column-service-icon gdlr-skin-box">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" style="color:dodgerblue;" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">

                                                                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />

                                                                            </svg>

                                                                        </div>

                                                                        <div class=column-service-content-wrapper>

                                                                            <h3 class="column-services" style="color: #333333;">Vous ne savez plus trop quoi faire de votre vie professionnelle,</h3>

                                                                            <div class="column-service-content gdlr-skin-content">

                                                                                

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>





                                                            <div class="four columns">

                                                                <div class="gdlr-ux column-service-ux">

                                                                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">

                                                                        <div class="column-service-icon gdlr-skin-box">

                                                                            <svg xmlns="http://www.w3.org/2000/svg" style="color:dodgerblue;" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">

                                                                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />

                                                                            </svg>

                                                                        </div>

                                                                        <div class=column-service-content-wrapper>

                                                                            <h3 class="column-services" style="color: #333333;">Vous êtes au chômage depuis très longtemps après un parcours professionnel chaotique.</h3>

                                                                            <div class="column-service-content gdlr-skin-content">

                                                                     

                                                                            </div>

                                                                        </div>

                                                                    </div>

                                                                </div>

                                                            </div>



                                                            <div class=clear></div>

                                                            <div class="intro">

                                                            <div class="hobbies group" style="color: #000000;">

                                                                <p class="text-center " >Nous vous proposons une démarche d’accompagnement qui vous permettra de savoir où vous en êtes professionnellement <br>  et de vous positionner sur le marché de l’emploi,  cerner vos blocages et vous proposer des leviers d’actions<br>   qui vous permettront de dépasser vos freins et booster votre carrière professionnelle.</p>

                                                            </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                    <div class=clear></div>



                                                </section>







                                            </div>

                                        </div>

                                        <div class=clear></div>

                                    </div>



                                </div>





                            </div>

                            <div class=clear></div>

                        </div>

                        <div class=clear></div>

                    </div>
                </div>

            </section>

        </div>
    </div>

    <div class=clear></div>

</div>
