<div class="gdlr-page-title-wrapper gdlr-page-title-wrapper2 gdlr-parallax-wrapper gdlr-title-normal" data-bgspeed=0.5>

    <div class=gdlr-page-title-overlay></div>

    <div class="gdlr-page-title-container container">

        <h1 class="gdlr-page-title"> Préparer sa candidature</h1> <span class=gdlr-page-caption>Cet accompagnement est pour vous si :</span>

    </div>

</div>

<div class=content-wrapper>

    <div class=gdlr-content>

        <div class="with-sidebar-wrapper gdlr-type-no-sidebar">



        </div>

    </div>

    <div class=clear></div>

</div>





<section id=content-section-2>

    <div class="gdlr-color-wrapper  gdlr-show-all no-skin" style="background-color: #ffffff; padding-top: 65px; padding-bottom: 35px; ">

        <div class=container>

            <div class="four columns">

                <div class="gdlr-ux column-service-ux">

                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">

                        <div class="column-service-icon gdlr-skin-box">

                            <svg xmlns="http://www.w3.org/2000/svg" style="color:dodgerblue;" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">

                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />

                            </svg>

                        </div>

                        <div class=column-service-content-wrapper>

                            <h3 class="column-services" style="color: #333333;">Vous ne savez pas ce que s’est un bon CV,</h3>

                            <div class="column-service-content gdlr-skin-content">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="four columns">

                <div class="gdlr-ux column-service-ux">

                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">

                        <div class="column-service-icon gdlr-skin-box">

                            <svg xmlns="http://www.w3.org/2000/svg" style="color:dodgerblue;" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">

                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />

                            </svg>

                        </div>

                        <div class=column-service-content-wrapper>

                            <h3 class="column-services" style="color: #333333;">Vous ne savez pas orienter votre CV au vu de votre parcours : soit une période creuse importante/soit un parcours polyvalent et atypique,</h3>

                            <div class="column-service-content gdlr-skin-content">


                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="four columns">

                <div class="gdlr-ux column-service-ux">

                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">

                        <div class="column-service-icon gdlr-skin-box">



                            <svg xmlns="http://www.w3.org/2000/svg" style="color:dodgerblue;" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">

                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />

                            </svg>

                        </div>

                        <div class=column-service-content-wrapper>

                            <h3 class="column-services" style="color: #333333;">Vous ne savez pas du tout comment mettre en place une stratégie pour rédiger un CV attractif, une lettre de motivation personnalisée, un profil LinkedIn percutant et professionnel,</h3>

                            <div class="column-service-content gdlr-skin-content">


                            </div>

                        </div>

                    </div>

                </div>

            </div>



            <div class="four columns">

                <div class="gdlr-ux column-service-ux">

                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">

                        <div class="column-service-icon gdlr-skin-box">


                            <svg xmlns="http://www.w3.org/2000/svg" style="color:dodgerblue;" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">

                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />

                            </svg>

                        </div>

                        <div class=column-service-content-wrapper>

                            <h3 class="column-services" style="color: #333333;">Vous ne savez pas construire votre présentation ou argumentaire ni communiquer efficacement sur votre parcours lors d’un entretien d’embauche,</h3>

                            <div class="column-service-content gdlr-skin-content">

                            </div>

                        </div>

                    </div>

                </div>

            </div>



            <div class="four columns">

                <div class="gdlr-ux column-service-ux">

                    <div class="gdlr-item gdlr-column-service-item gdlr-type-1">

                        <div class="column-service-icon gdlr-skin-box">

                            <svg xmlns="http://www.w3.org/2000/svg" style="color:dodgerblue;" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">

                                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />

                            </svg>

                        </div>

                        <div class=column-service-content-wrapper>

                            <h3 class="column-services" style="color: #333333;">Vous n’êtes pas à l’aise en entretien et que vous paniquez.</h3>

                            <div class="column-service-content gdlr-skin-content">

                                <!-- <p>Nous accompagnons nos clients dans les différentes problématiques liées au Recrutement et au développement des compétences.</p> -->

                                <!--<a class="column-service-learn-more gdlr-info-font" href=#>Learn More</a>-->

                            </div>

                        </div>

                    </div>

                </div>

            </div>



            <div class=clear></div>

            <Blockquote>Notre objectif est de vous permettre d’avoir une stratégie efficace en ce qui concerne l’organisation de votre candidature, travailler et développer votre aisance orale en entretien.</Blockquote>



        </div>

    </div>

    <div class=clear></div>



</section>